<%= render "partials/banner" %>

<div class="container cards mt-5 "> 
  <% @lists.each do |list| %>  
    <div class= "card-category">
      <a class= "text-decoration-none text-white" href= "<%=list_path(list) %>" >
      <%= cl_image_tag list.photo.key, crop: :fill %>
      <h2><%= list.name %></h2>
    </div>
  </a>
  <% end %>
</div>