<div class="container mt-5">
  <h2 style="font-weight: bold"><%= @list.name %></h2>
  <div>
    <% @list.bookmarks.each do |bookmark| %>
      <p  class="border-bottom"><%= bookmark.comment %></p>
    <% end %> 
  </div>
  <%= link_to "Back to Lists", lists_path %>
</div>
