<div class="container mt-5">
  <h1>Add movies to your list</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Submit movie", class: "btn btn-primary" %>
  <% end %>
</div>