<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container">
    <h1>My Watchlists</h1>
    <p>Creating lists of movies to watch</p>
  </div>
</div>