<div class="card-product mb-3">
  
  <div class="card-product-movie">
    <h2><%= movie.title %></h2>
    <p><%= movie.overview %></p>
    <p><%= movie.rating %>/10</p>
    
    <p><em><i class="fa-solid fa-quote-left"></i> <%= movie.bookmarks.sample.comment %> <i class="fa-solid fa-quote-right"></i></em></p>
  </div>
</div>