<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "my-watchlist.png", alt: "cinema-logo", width: 150 %> <%= link_to "", lists_path %>
    </a>
  </div>
</div>