<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "cinema.png", alt: "cinema-logo", width: 40 %>
    </a>
  </div>
</div>